body{
    text-align:center;
    background-color:#D4E157;
  }
#ujwal{
    background-color: gold;
  }
  #aditya{
    background-color: cornflowerblue;
  }
  #laxmi{
    background-color: khaki;
  }    